.slider {
  height: 40px;
  border: 2px solid var(--blue);
  border-radius: 20px;
}

.thumb {
  background-color: var(--blue);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.MuiToggleButtonGroup-root {
  background-color: var(--greyPink);
}

button.MuiToggleButton-root{
  background-color: var(--greyPinkDark);
}
button.MuiToggleButton-root.Mui-selected {
  background-color: var(--greyPink);
}
.slider.recovery {
  border: 2px solid var(--green);
}
.slider.recovery .thumb {
  background-color: var(--green);
}
